<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="CommonHeader">
      <h1 class="CommonHeaderTitle"><%= link_to 'TechChat', root_path %></h1>
      <div class="CommonHeaderLink">
        <%= link_to '質問する', new_question_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
